<html>

<head>
    <link rel="stylesheet" href="css/font-awesome.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="js/socket.io.js"></script>
    <script src="js/script.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>

</head>

<body>
    <!--   <i class="fa fa-facebook" aria-hidden="true"></i>
            <i class="fa fa-paper-plane" aria-hidden="true"></i>
         -->

    <div class="container" id="container">
        

           
            <!--<div class="col-md-3 side_menu">
                 <nav class="navbar">
                     المستخدمون النشطون
                 </nav>
                 <div class="chat_users">
                     <ul class="users" id="user_list">
                        <div class="chat_user">
                            <div class="user_nname">
                                أحمد
                            </div>
                            <div class="user_status online">
                                    <i class="fa fa-circle" aria-hidden="true"></i>
                            </div>
                        </div>
                     </ul>
                 </div>
             </div> -->

        
    </div>


    <script src="https://www.gstatic.com/firebasejs/5.2.0/firebase.js"></script>
    <script>
        // Initialize Firebase

    </script>
    <script src="js/react.js"></script>
    <script src="js/react-dom.js"></script>
    <script src="js/babel.js"></script>
    <script src="js/script.js" type="text/babel"></script>

</body>

</html>